@import '../../../../styles/shared';

.cls-1,
.cls-26 {
  fill: none;
}

.cls-2 {
  fill: #07a;
}

.cls-3 {
  fill: #3392bb;
}

.cls-4 {
  fill: #051323;
}

.cls-5,
.cls-6,
.cls-7,
.cls-8 {
  fill: #ffde76;
}

.cls-5 {
  opacity: 0.1;
}

.cls-7 {
  opacity: 0.2;
}

.cls-12,
.cls-20,
.cls-8 {
  opacity: 0.5;
}

.cls-9 {
  fill: #dd711f;
}

.cls-10,
.cls-20 {
  fill: #f2842a;
}

.cls-11 {
  fill: #ff9739;
}

.cls-12 {
  fill: #fad399;
}

.cls-13 {
  fill: #ffc23b;
}

.cls-14 {
  fill: #edaa24;
}

.cls-15 {
  fill: #92352e;
}

.cls-16 {
  fill: #772322;
}

.cls-17 {
  fill: #e26154;
}

.cls-18 {
  fill: #e57f45;
}

.cls-19 {
  fill: #f59e66;
}

.cls-21 {
  fill: #ededed;
}

.cls-22 {
  fill: #060610;
}

.cls-23 {
  fill: #fff;
}

.cls-24 {
  fill: #000005;
}

.cls-25 {
  fill: #1d1d1b;
}

.cls-26 {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 0.49px;
}
