@import '../../styles/shared';

$radius: 10px;

.leaderboard-table {
  min-width: 100%;
  color: $white;
  border-spacing: 0;
  border-collapse: collapse;

  td {
    padding: 0;
  }

  &__header {
    background-color: $lightBlue;
    text-transform: uppercase;
    color: $ultraLightBlue;
    font-size: 15px;
    text-align: left;
    width: 100%;

    th {
      font-weight: 300;
      padding: 0.5rem;
    }

    th:first-child {
      border-top-left-radius: $radius;
      padding-left: 1rem;
    }

    th:last-child {
      border-top-right-radius: $radius;
    }
  }

  &__body {
    background-color: $darkBlue;
    font-size: 13px;

    @include media-breakpoint-up(xs) {
      font-size: 13px;
    }

    td div {
      padding: 0.5rem 0.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 130px;
      text-align: center;

      @include media-breakpoint-up(md) {
        max-width: 118px;
        padding: 0.7rem 0.5rem;
      }
    }

    tr td:first-child div {
      padding-left: 1rem;
    }

    tr td:last-child div {
      padding-right: 1rem;
    }

    tr:first-child td div {
      padding-top: 1rem;
    }

    tr:last-child td div {
      padding-bottom: 1rem;
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: $radius;
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: $radius;
    }
  }

  &__wrapper {
    height: 404px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: $darkBlue;
    border-radius: $radius;

    @include media-breakpoint-up(md) {
      height: 458px;
    }
  }
}
