@import '../../styles/shared';

.container {
  width: 200px;
  background-color: rgba(19, 34, 58, 0.5);
  display: flex;
  flex-direction: column;
}

.single_stage {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 0.75rem;
  justify-content: space-between;
  width: 100%;

  &:first-child {
    margin-top: 5rem;
  }

  &:last-child {
    margin-bottom: auto;
  }

  &__status {
    min-width: 40px;
    min-height: 25px;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
  }
}
