@import '../../styles/shared';

.error {
  margin-bottom: 1rem;
}

.container {
  margin: 3rem 0 0 0;

  @include media-breakpoint-up(md) {
    margin: 5rem auto;
  }
}

.button {
  @include media-breakpoint-up(md) {
    width: 70%;
    margin: 0 auto;
  }
}
