@import '../../../../styles/shared';

.cls-1 {
  fill: none;
}

.cls-2 {
  opacity: 0.44;
}

.cls-3 {
  fill: #e1e3e2;
}

.cls-4 {
  fill: #f9f9f9;
}

.cls-5 {
  fill: #1d1d1b;
}

.cls-6 {
  clip-path: url(#clip-path-idle);
}

.cls-7 {
  fill: #009fe3;
}
