@import "../../../../styles/shared";

.cls-1,
.cls-5 {
  fill: none;
}

.cls-2 {
  fill: #e1e3e2;
}

.cls-3 {
  fill: #f9f9f9;
}

.cls-4 {
  fill: #1d1d1b;
}

.cls-5 {
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
  stroke-width: 0.8px;
}

.cls-6 {
  clip-path: url(#clip-path-selected);
}

.cls-7 {
  fill: #84ea68;
}
