@import '../../styles/shared';

.illustration {
  display: none;

  @include media-breakpoint-up(md) {
    display: unset;
  }
}

.container {
  margin-top: 3rem;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
  }
}

.spacing {
  margin: 2rem 0 1rem;

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
}

.error {
  margin-bottom: 1rem;
}
