@import '../../styles/shared';

.container {
  @include media-breakpoint-down(xs) {
    max-width: 100%;
  }
}

.details-container {
  margin: 0 -0.5rem 0 -0.5rem;
  border-radius: 0;
  background-color: $blue;

  @include media-breakpoint-up(md) {
    margin: 0;
    border-radius: 8px;
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;

  @include media-breakpoint-down(xs) {
    justify-content: center;
  }

  @include media-breakpoint-up(md) {
    padding: 0 2rem;
  }

  &__link {
    font-size: 17px;
    color: $table-ultra-light-blue;
    padding-bottom: 0.1rem;
    display: inline-block;
    margin-right: 1rem;

    &:last-of-type {
      margin: 0;
    }

    &:hover {
      color: $live-updates-tab-select-active;
      text-decoration: none;
    }

    @include media-breakpoint-up(md) {
      font-size: 20px;
      padding-bottom: 0.2rem;
      margin-right: 2rem;
    }

    &--active {
      border-bottom: 2px solid $live-updates-tab-select-active;
      color: $live-updates-tab-select-active;
    }
  }
}
