@import '../../styles/shared';

.details {
  border-radius: 8px;
  background-color: $user-info-main-blue;
  padding: 1rem;

  &__item {
    display: flex;
    width: 100%;
    margin-top: 1rem;

    &:first-of-type {
      margin: 0;
    }

    &__label {
      width: 50%;
      color: $user-info-label-blue;
      text-transform: uppercase;
    }

    &__value {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      font-weight: 300;
    }
  }
}

.username {
  margin: 1rem 0 2rem;
}

.game-icon {
  width: 14px;
  height: 14px;
  fill: $white;
  vertical-align: middle;
  margin-right: 5px;

  &__inner {
    fill: $user-info-main-blue;
  }
}
