@import '../../styles/shared';

.details {
  border-radius: 8px;
  background-color: $user-info-main-blue;
  padding: 1rem;

  @include media-breakpoint-up(md) {
    width: 80%;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    width: 100%;
    margin-top: 1rem;

    &:first-of-type {
      margin: 0;
    }

    &__label {
      width: 50%;
      color: $user-info-label-blue;
      text-transform: uppercase;

      @include media-breakpoint-up(md) {
        text-align: right;
        margin-right: 1rem;
      }
    }

    &__value {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      font-weight: 300;

      @include media-breakpoint-up(md) {
        justify-content: flex-start;
      }
    }
  }
}

.username {
  margin: 1rem 0 2rem;

  @include media-breakpoint-up(md) {
    width: 100%;
    justify-content: center;
    margin: 0 0 1rem;
  }

  &--mobile {
    @include media-breakpoint-up(md) {
      display: none !important;
    }
  }

  &--desktop {
    display: none !important;

    @include media-breakpoint-up(md) {
      display: flex !important;
    }
  }

  &__hidden {
    font-weight: 600;
    color: #56718d;
  }
}

.game-icon {
  width: 14px;
  height: 14px;
  fill: $white;
  vertical-align: middle;
  margin-right: 5px;

  &__inner {
    fill: $user-info-main-blue;
  }
}

.button {
  width: 66%;
  max-width: 220px;
  margin: 3rem auto 0;

  @include media-breakpoint-up(md) {
    margin: 2rem auto 0.5rem;
  }

  &__spacer {
    height: 40px;
  }
}
