@import '../../styles/shared.scss';

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1500px,
);

.affiliates_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #80a2cc;

  @include media-breakpoint-up(xxl) {
    min-height: 110rem;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-position-x: 2rem;
    background-position-y: 12.125rem;
    background-size: 8.5rem;
  }

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 70%;

    .grid2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-column-gap: 1.2rem;
      transition: all 0.3s ease-out;
    }

    .card_bg {
      background-color: $blue;
      padding: 1rem 1.5rem;
      border-radius: 0.625rem;
      margin-bottom: 2.4rem;
    }
  }
}

.bonuses_title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 1.5625rem;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #80a2cc;
  padding: 0.625rem 1rem 1.875rem;
  width: 100%;

  @include media-breakpoint-up(xl) {
    padding: 2.125rem 3.125rem;
    margin-bottom: 2.125rem;
  }
}
