.cls-1 {
  fill: #081221;
}

.cls-4 {
  fill: #ffde00;
}

.cls-8 {
  fill: #22263a;
}

.cls-11 {
  fill: none;
  stroke: #0d1b31;
  stroke-miterlimit: 10;
  stroke-width: 1.89px;
}

.cls-12 {
  fill: #fff;
}

.text {
  fill: #fff;
  font-size: 60px;
  font-weight: 900;
}

.diamond {
  &__container {
    position: absolute;
    width: 15%;
    right: 24%;
    height: 72.6%;
    top: 8.1%;
  }
}
