@import '../../../../styles/shared.scss';

.tick {
  position: absolute;
  color: $white;
  width: 56px;
  text-align: right;
  font-size: 30px;
  margin-left: -76px;

  @include media-breakpoint-up(md) {
    font-size: 50px;
    margin-left: -100px;
  }
}
