@import '../../styles/shared';

.list {
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    width: 100%;
    margin-top: 1rem;

    &:first-of-type {
      margin: 0;
    }

    &__label,
    &__label_bet {
      width: 50%;
      color: $user-info-label-blue;
      text-transform: uppercase;
      justify-content: flex-start;
    }

    &__value,
    &__value_bet {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
      font-weight: 300;
    }
    @media screen and (max-width: 768px) {
      &__label {
        width: calc(100% - 110px);
      }
      &__value {
        width: 110px;
      }

      &__label_bet {
        width: calc(100% - 150px);
      }
      &__value_bet {
        width: 150px;
      }
    }
    @media screen and (max-width: 360px) {
      &__label_bet {
        width: calc(100% - 110px);
      }
      &__value_bet {
        width: 110px;
      }
    }
  }
}
