@import '../../styles/shared';

.illustration {
  display: none;

  @include media-breakpoint-up(md) {
    display: unset;
  }

  &__image {
    max-width: 240px;
    margin: 0 auto;
    display: block;
  }
}

.button {
  margin-bottom: 1rem;
}
