@import '../../styles/shared';

.illustration {
  display: none;

  @include media-breakpoint-up(md) {
    display: unset;
  }

  &__image {
    max-width: 240px;
    margin: 0 auto;
    display: block;
  }
}

.button {
  margin-bottom: 1rem;
}

.spacing__bottom {
  margin-bottom: 1rem;
}

.terms {
  &__cbx {
    font-size: 14px;
    text-transform: none;
  }
}
