@import '../../../../styles/shared';

.container {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    margin-top: 2rem;
  }

  > * {
    user-select: none;
  }
}

.board {
  width: 75%;
  max-width: 500px;

  @include media-breakpoint-up(md) {
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: center;
  }
}

.controls {
  &__wrapper {
    width: 100%;
    margin-top: 2rem;
    background-color: $user-info-main-blue;
    padding: 0 1rem 2rem 1rem;

    @include media-breakpoint-up(md) {
      padding: 3.5rem;
    }
  }

  &__button {
    width: 100%;
    display: flex;
    align-items: center;

    @include media-breakpoint-only(xl) {
      margin: 0.5rem 0;
    }
  }
}

.loading {
  height: 500px;
}

.profit {
  &__label {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    line-height: 19px;
    color: $control-label;
    user-select: none;
    margin: 0;
  }

  &__container {
    margin: -1.2rem 0 0.1rem;

    @include media-breakpoint-up(md) {
      margin: -4.7rem 0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.amount {
  &__container {
    margin: 0.5rem 0;

    @include media-breakpoint-up(xxl) {
      margin: 0;
    }
  }
}
