@import "../../../../styles/shared";

.goal_keeper {
  &__idle {
    width: 20%;
    top: 29%;
    left: 40%;
    height: 40%;

    @include media-breakpoint-down(lg) {
      width: 32%;
      left: 34%;
    }
  }

  &__left {
    width: 15%;
    left: 36%;
    height: 40%;
    top: 15%;

    @include media-breakpoint-down(lg) {
      width: 24%;
      left: 27%;
    }
  }

  &__middle {
    width: 14%;
    left: 43%;
    height: 50%;
    top: 19%;

    @include media-breakpoint-down(lg) {
      width: 22.4%;
      left: 38.8%;
    }
  }

  &__right {
    width: 15%;
    height: 40%;
    top: 15%;
    left: 49%;

    @include media-breakpoint-down(lg) {
      width: 24%;
    }
  }
}
