@import '../../../../styles/shared';

.goal_keeper {
  &__idle {
    width: 20%;
    top: 29%;
    left: 39.7%;
    height: 40%;

    @include media-breakpoint-down(lg) {
      width: 32%;
      left: 34%;
    }
    @include media-breakpoint-down(lg) {
      top: 29.5%;
    }
    @include media-breakpoint-down(sm) {
      width: 39%;
      left: 30%;
      top: 29%;
    }
  }

  &__left {
    width: 15%;
    left: 36%;
    height: 40%;
    top: 15%;

    @include media-breakpoint-down(lg) {
      width: 24%;
      left: 27%;
    }
    @include media-breakpoint-down(md) {
      width: 24%;
      left: 25%;
    }
    @include media-breakpoint-down(sm) {
      width: 29%;
      left: 21%;
    }
  }

  &__middle {
    width: 14%;
    left: 43%;
    height: 50%;
    top: 19%;

    @include media-breakpoint-down(lg) {
      width: 23%;
      left: 39%;
    }
  }

  &__right {
    width: 15%;
    height: 40%;
    top: 15%;
    left: 49%;

    @include media-breakpoint-down(lg) {
      width: 24%;
    }
    @include media-breakpoint-down(md) {
      width: 24%;
      left: 51%;
    }
    @include media-breakpoint-down(sm) {
      width: 29%;
      left: 52%;
    }
  }
}
