@import '../../../../styles/shared';

.cls-1 {
  fill: #fff;
}

.cls-2 {
  fill: #322721;
}

.cls-3 {
  fill: #db9b91;
}

.cls-4 {
  fill: #fed406;
}

.cls-5 {
  fill: #f39200;
}

.cls-6 {
  fill: #b66e00;
}

.cls-7 {
  fill: #dadada;
}

.cls-8 {
  fill: #ddb300;
}

.cls-9 {
  fill: #f7c0b4;
}

.cls-10 {
  fill: #3d2612;
}

.cls-11 {
  fill: #af7871;
}

.cls-12 {
  fill: #cb9f94;
}

.cls-13 {
  fill: #bc8f86;
}

.cls-14 {
  fill: #3f0a0a;
}

.cls-15 {
  fill: #5a1111;
}

.cls-16 {
  fill: #7c1e33;
}
