@import '../styles/shared';

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;

  @include media-breakpoint-up(md) {
    font-size: 28px;
  }
}

.spinner {
  width: 45px;
  height: 45px;
  margin-bottom: 0.5rem;

  @include media-breakpoint-up(md) {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
  }
}
