@import '../../../../../../styles/shared';

.button {
  display: inline-block;
  border: none;
  background: none;
  color: $live-updates-tab-select-text;
  font-size: 16px;
  padding: 0 0.2rem;
  margin: 0 1rem 0 0;
  text-transform: uppercase;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include media-breakpoint-only(md) {
    font-size: 14px;
    margin: 0 0.5rem 0 0;
  }

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }

  &:last-of-type {
    margin: 0;
  }

  &--active {
    color: $live-updates-tab-select-active;
    border-bottom: 2px solid $live-updates-tab-select-active;
  }
}
