@import 'shared';

*:focus {
  outline: none !important;
}

.grecaptcha-badge {
  z-index: 99999;
  visibility: hidden;
  width: 70px !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: 4px !important;
  bottom: $bar-height + 4 !important;

  @include media-breakpoint-up(lg) {
    bottom: $bar-height-lg + 4 !important;
  }
}

.grecaptcha-badge:hover {
  width: 256px !important;
}

body[data-recaptcha] .grecaptcha-badge {
  visibility: visible;
}
