$blue: #113352;
$dark-blue: #091b33;
$light-blue: #275b95;
$ultra-light-blue: #d1e6ff;
$yellow: #e9b800;
$orange: #f4b180;
$game-button-blue: #2e475e;
$footer-blue: #244260;
$footer-text: #8897a8;
$bitcoinYellow: #fec41c;
$age-disclaimer-blue: #001c3c;
$live-updates-light-blue: #80a2cc;
$live-updates-tab-select-text: #7d9cc6;
$live-updates-tab-select-active: #ccdaed;
$slide-select-dark-blue: #0e2b45;
$slide-select-blue: #1e94fa;

$bar-height: 50px;
$bar-height-lg: 70px;
$bottom-bar-height: 50px;

$modal-main-blue: #2d4560;
$modal-header-height: 50px;

$user-info-main-blue: #13223a;
$user-info-label-blue: #7ea3cc;

$table-dark-blue: #133252;
$table-light-blue: #275789;
$table-ultra-light-blue: #7d9cc6;

$positive: #8eff8e;
$negative: #fd7979;

$form-background: #0a1a33;

$eye-outline: #113b69;

// imported from cazzzino-test-project
$red: #fa6868;
$lightRed: #fd7979;
$green: #6ff48d;
$lightGreen: #73fc7f;
$lightYellow: #ffe98e;
$white: #fff;
$navbarBlue: #5da5ed;
$darkGray: #292929;
$gray: #525252;
$lightBlue: #275789;
$darkBlue: #133252;
$ultraLightBlue: #7d9cc6;
$mediumBreakpoint: 1150px;
$largeBreakpoint: 1350px;

$sidebar-width: 100%;
$sidebar-width-md: 320px;
$sidebar-width-lg: 420px;
$sidebar-tab-select-height: 124px;
$sidebar-time-select-height: 62px;

$button-primary: #4496ff;
$button-secondary: #f59e66;

$bet-result-dark-blue: #021b31;

$toast-info: #707e89;
$toast-success: #87c784;
$toast-error: #c78484;

$activation-code-border-blue: #6e92f5;

$email-status-dark-blue: #102c4a;
$email-status-blue: #275e9a;
$email-status-light-blue: #6d93ba;

$switch-input: #2f5174;

$user-menu-bg: #8db0d8;

$read-only-input-bg: #152640;

$control-background: #0a1a33;
$control-label: #80a2cc;
$control-button-bg: $email-status-blue;
