$blue: #113352;
$dark-blue: #091b33;
$light-blue: #275b95;
$ultra-light-blue: #d1e6ff;
$yellow: #e9b800;
$orange: #f4b180;
$game-button-blue: #2e475e;
$footer-blue: #244260;
$footer-text: #8897a8;
$bitcoinYellow: #fec41c;
$age-disclaimer-blue: #001c3c;

$bar-height: 50px;
$bar-height-lg: 70px;
