.align_items {
  &__left {
    align-items: flex-end;
  }

  &__right {
    align-items: flex-start;
  }
}

.justify_content {
  &__center {
    justify-content: center;
  }
}

.margin {
  &__horizontal_auto {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Game container stylesheet */
.container {
  position: relative;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    margin-top: 2rem;
  }

  > * {
    user-select: none;
  }
}

/* Game main board stylesheet */
.board {
  width: 90%;
  max-width: 500px;

  @include media-breakpoint-up(md) {
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
    flex: 1;
  }
}

/* Controls wrapper stylesheet */
.controls {
  &__wrapper {
    width: 100%;
    margin-top: 2rem;
    background-color: $user-info-main-blue;
    padding: 0 0 2rem;

    @include media-breakpoint-up(md) {
      padding: 3.5rem;
    }
  }

  &__button {
    width: 100%;
    display: flex;
    align-items: center;

    & > button {
      height: 100%;
      line-height: 38px;
    }
  }
}

/* Profit stylesheet */
.profit {
  &__label {
    text-transform: uppercase;
    display: block;
    font-size: 13px;
    line-height: 19px;
    color: $control-label;
    user-select: none;
    margin: 0;
  }

  &__container {
    margin: -1.2rem 0 0.1rem;

    @include media-breakpoint-up(md) {
      margin: -4.7rem 0 1rem;
      display: flex;
      flex-direction: column;
    }
  }

  &__visibility {
    &__hidden {
      visibility: hidden;
    }
  }
}

/* Amount stylesheet */
.amount {
  &__container {
    margin: 0.5rem 0;
    position: relative;

    @include media-breakpoint-up(xl) {
      margin: 0;
    }
  }
}
