@import '../../../../styles/shared';

.cls-1,
.cls-6 {
  fill: none;
}

.cls-2 {
  fill: #9d9d9c;
  opacity: 0.14;
}

.cls-3 {
  fill: #e1e3e2;
}

.cls-4 {
  fill: #f9f9f9;
}

.cls-5 {
  fill: #1d1d1b;
}

.cls-6 {
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
  stroke-width: 1.38px;
}

.cls-7 {
  clip-path: url(#clip-path-main-ball);
}
