@import '../../styles/shared';

$slide-transition: all 200ms ease-in-out;

.wrapper {
  width: 100%;
  display: flex;
  background-color: $dark-blue;
}

.main {
  width: 100%;
  height: 100%;
  transition: $slide-transition;

  &--sidebar-open {
    @include media-breakpoint-up(md) {
      width: calc(100% - #{$sidebar-width-md});
    }

    @include media-breakpoint-up(lg) {
      width: calc(100% - #{$sidebar-width-lg});
    }
  }

  &__top-bar {
    width: 100%;
    height: $bar-height;
    background-color: $blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    transition: $slide-transition;

    @include media-breakpoint-up(lg) {
      height: $bar-height-lg;
    }

    &--sidebar-open {
      @include media-breakpoint-up(md) {
        width: calc(100% - #{$sidebar-width-md});
      }

      @include media-breakpoint-up(lg) {
        width: calc(100% - #{$sidebar-width-lg});
      }
    }
  }

  &__content {
    margin: $bar-height 0;
    padding: 0.5rem 0 0 0;

    @include media-breakpoint-up(lg) {
      margin: $bar-height-lg 0;
    }
  }

  &__bottom-bar,
  &__bottom-bar-open {
    width: 100%;
    height: $bar-height;
    background-color: $blue;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: $slide-transition;
    z-index: 3;

    &--sidebar-open {
      @include media-breakpoint-up(md) {
        width: calc(100% - #{$sidebar-width-md});
      }

      @include media-breakpoint-up(lg) {
        width: calc(100% - #{$sidebar-width-lg});
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &__bottom-bar {
      height: $bottom-bar-height;
    }
  }

  @include media-breakpoint-up(md) {
    &__bottom-bar-open {
      height: $bottom-bar-height;
    }
  }
}
