@import '../../styles/shared';

.container {
  position: relative;

  > * {
    user-select: none;
  }
}

.clam {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('../../assets/images/games/clams/clam-sharks.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
  }

  &__fade {
    opacity: 0.5;
  }

  flex: 0 0 33%;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: all 0.3s;

  &__idle:hover {
    margin-bottom: 12px;
    margin-top: 8px;
  }

  @include media-breakpoint-up(md) {
    flex: 0 0 30%;
    margin-bottom: 15px;
    margin-top: 15px;

    &__idle:hover {
      margin-bottom: 17px;
      margin-top: 13px;
    }
  }
}
