.position {
  display: flex;
  width: 1.125rem;
  height: 1.125rem;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  color: #122a46;
  border-radius: 50%;
  font-size: 0.9rem;
}
