@import '../../../../styles/shared';

.cls-3 {
  fill: #4a3b32;
}
.cls-6 {
  fill: #352927;
}
.cls-7 {
  fill: #f7c0b4;
}
.cls-8 {
  fill: #cb9f94;
}
.cls-11 {
  fill: #c6c6c6;
}
.cls-13 {
  fill: #fff;
}
.cls-21 {
  fill: #af7875;
}
.cls-25 {
  fill: #3e5a80;
}
