@import '../../../../styles/shared.scss';
$grid-breakpoints: (
        xs: 0,
        tm: 480px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1500px,
);
.leaderboard {
  background-color: #113352;
  border-radius: 0.625rem;
  margin: 0 auto 3.25rem;
  max-width: 100%;
  width: calc(100% - 2rem);
  padding: 1.75rem;
  // background-color: #2d4560;

  &__title {
    color: #80a2cc;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.75rem;
  }

  &__contents {
    margin: 0 auto;
    padding-top: 1rem;
    width: 100%;
    max-width: 450px;
    text-transform: uppercase;

    .p_15 {
      padding: 0 15px;
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }

    .position_bonus {
      padding: 1.3rem 2rem;
      @include media-breakpoint-down(tm) {
        padding: 1.3rem 2rem;
      }
      @include media-breakpoint-down(xs) {
        padding: 1.3rem 0;
      }

      .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0;
        transition: all 0.3s ease-out;
        justify-items: left;
        font-size: 0.95rem;

        & > div {
          padding-top: 2rem;
        }

        .bg_green,
        .bg_dash,
        .bg_green_position {
          padding: 2.3px 16px;
          border-radius: 30px;
          line-height: 1;
          background-color: #1f741f;
        }
        .bg_green_position {
          padding: 0 14px;
          line-height: 0.7;
        }
        .bg_dash {
          padding-top: 1.5rem;
          background-color: unset;
        }
        .minus_font {
          font-size: 30px;
          font-weight: inherit;
        }
      }
    }

    .time_bonus {
      margin: 0 auto;
      padding-top: 1rem;
      text-align: center;
      font-size: 0.95rem;

      .time_block {
        margin-top: 8px;
        padding: 10px 40px 2px;
        border-radius: 50px;
        width: 100%;
        line-height: 1.2;
        background-color: #009ee5;

        @include media-breakpoint-down(tm) {
          padding: 10px 40px 2px;
        }
        @include media-breakpoint-down(xs) {
          padding: 10px 20px 2px;
        }
        .grid_time {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-auto-rows: 1fr;
          grid-column-gap: 0;
          grid-row-gap: 0;
          transition: all 0.3s ease-out;
          justify-items: center;
          font-size: 2rem;
          color: #fff;
        }
      }
    }

    .txt_color {
      font-weight: 600;
      color: #80a2cc;
    }
    .txt_black {
      color: #000;
    }
    .txt_small {
      font-size: 0.9rem;
      color: #33619b;
    }
    .reset_every {
      padding-top: 25px;
      font-size: 1rem;
      text-transform: none;
    }
  }
}

.waiting_processing {
  display: flex;
  margin: 0 auto;
  padding-bottom: 4rem;
  width: 100%;
  max-width: 100%;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
