@import '../../styles/shared';

.inputField__container {
  min-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputField__wrapper {
  flex: 1;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border: 4px solid $form-background;
  border-radius: 8px;
  background-color: $form-background;
  height: 52px + (2 * 8px);
  vertical-align: bottom;
  transition: all 0.2s ease-in;
}

.inputField__wrapper:hover {
  border: 4px solid $bitcoinYellow;
}

.inputField {
  text-align: left;
  background-color: $form-background;
  color: $white;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin-left: 0;
  padding: 0;
  // box-sizing: border-box;
  transition: all 0.2s ease-in;
  outline: none;
  border: none;
  // width: auto;
  // display: block;
  // user-select: none;
}

input[type='text'].inputField {
  size: '';
  width: 100%;
}

input[type='text'].inputField:focus {
  background-color: $darkBlue;
  border-color: #275e9a;
}

.inputFieldLabel {
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  color: $live-updates-light-blue;
  user-select: none;
  margin: 0;
}

.inputField__error {
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  color: $red;
  user-select: none;
  margin: 4px 8px 4px 8px;
}
