@import '../../styles/shared';

.value {
  justify-content: flex-end;

  @include media-breakpoint-up(md) {
    justify-content: flex-start;
  }
}

.username {
  &__hidden {
    color: $live-updates-light-blue;
  }
}
