@import '../../styles/shared';

.user-info {
  margin-bottom: 1rem;
  flex-grow: 1;

  @include media-breakpoint-up(lg) {
    margin-bottom: 2rem;
  }
}

.password {
  margin-top: 1rem;
  flex-grow: 1;

  @include media-breakpoint-up(lg) {
    margin-top: 2rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.preferences {
  margin-top: 1rem;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}
