@import "../../styles/shared.scss";

.bonuses_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include media-breakpoint-up(xl) {
    min-height: 110rem;
    justify-content: flex-start;
    background-image: url(../../assets/images/bonuses/bonuses-side-illustration.svg);
    background-repeat: no-repeat;
    background-position-x: 2rem;
    background-position-y: 12.125rem;
    background-size: 8.5rem;
  }
}

.bonuses_title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.5625rem;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #80a2cc;
  padding: 0.625rem 1rem 1.875rem;
  width: 100%;

  @include media-breakpoint-up(xl) {
    padding: 2.125rem 3.125rem;
    margin-bottom: 2.125rem;
  }
}

.leaderboard {
  background-color: #113352;
  padding: 2.625rem;
  border-radius: 0.625rem;
  margin-bottom: 3.25rem;

  &,
  &__table {
    width: calc(100% - 2rem);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(xl) {
      width: 59.375rem;
    }
  }
}
