@import '../../../../styles/shared';

.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100% - #{$bar-height});
  background-color: #0d253b;
  z-index: 2;

  @include media-breakpoint-up(md) {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
  }
}

.slide {
  transition: all 200ms ease-in-out;
  right: -100%;

  &--enter {
    right: 0;
  }

  &--exit {
    right: -100%;
  }
}

.header {
  display: flex;
  align-items: center;
  height: $bar-height;
  padding: 0 1rem;

  @include media-breakpoint-up(lg) {
    height: $bar-height-lg;
  }

  &__headline {
    margin: 0 0 0 1rem;
    color: $live-updates-light-blue;
    font-size: 25px;
  }
}
