@import '../../../../styles/shared.scss';

.container {
  .highlight {
    position: absolute;
    left: 1rem;
    bottom: 16px;
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__animated {
      width: 54%;
      transform: translateY(6%);
      transition: transform 200ms ease-in-out;
    }

    &__static {
      width: 100%;
    }
  }

  &:hover {
    background-color: $footer-blue;
  }

  &:hover .highlight {
    &__animated {
      transform: translateY(-10px) scale(1.1);
    }
  }
}

.character {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 48%;
  transition: width 200ms ease-in-out;

  &--with-sidebar {
    @include media-breakpoint-only(xl) {
      width: 56%;
    }
  }
}
