.cls-1 {
  fill: #4a6984;
}

.cls-10,
.cls-2 {
  fill: #7f4a0b;
}

.cls-3,
.cls-6 {
  fill: #f9c066;
}

.cls-4 {
  fill: #dda14a;
}

.cls-5,
.cls-9 {
  fill: #ba7c25;
}

.cls-10,
.cls-6,
.cls-9 {
  opacity: 0.5;
}

.cls-7 {
  fill: #a06318;
}

.cls-8 {
  fill: #fde6c2;
}

.cls-11 {
  fill: #c18b42;
}

.cls-12 {
  fill: #f9eeae;
}

.cls-13 {
  fill: #d8a252;
}

.cls-14 {
  fill: #fbd9a3;
}

.cls-15 {
  fill: #2f1f09;
}

.cls-16 {
  fill: #fff;
}

.cls-17 {
  fill: #009fe3;
}

.cls-18 {
  fill: #1d71b8;
}

.cls-19 {
  fill: #66c5ee;
}
