@import '../../../../styles/shared.scss';

.leaderboard-row {
  &__username {
    width: 130px;

    @include media-breakpoint-up(lg) {
      width: 129px;
    }
  }

  &__icon {
    width: 11px;
    height: 11px;
    margin-right: 4px;
    vertical-align: baseline;
    fill: $bitcoinYellow;

    &__inner {
      fill: $dark-blue;
    }
  }

  &__bonus {
    display: none;

    @include media-breakpoint-up(lg) {
      display: unset;
    }
  }
}

.highlight {
  background-color: rgba(255, 255, 255, 0.35);
}
