@import '../../../../styles/shared';

.cls-1,
.cls-2 {
  fill: #051323;
}

.cls-13,
.cls-18,
.cls-2,
.cls-6 {
  opacity: 0.5;
}

.cls-3,
.cls-4,
.cls-5,
.cls-6 {
  fill: #ffde76;
}

.cls-3 {
  opacity: 0.1;
}

.cls-5 {
  opacity: 0.2;
}

.cls-7 {
  fill: #458eff;
}

.cls-8 {
  fill: #dd711f;
}

.cls-13,
.cls-9 {
  fill: #f2842a;
}

.cls-10 {
  fill: #ff9739;
}

.cls-11 {
  fill: #e57f45;
}

.cls-12 {
  fill: #f59e66;
}

.cls-14 {
  fill: #ffc23b;
}

.cls-15 {
  fill: #edaa24;
}

.cls-16 {
  fill: #fff;
}

.cls-17 {
  fill: #060610;
}

.cls-18 {
  fill: #fad399;
}

.cls-19 {
  fill: none;
}
