@import '../../../../styles/shared';

.container {
  min-height: 100%;

  @include media-breakpoint-up(md) {
    min-height: 500px;
    max-width: 445px;
    display: block;
    margin: 0 auto;
  }
}
