@import '../../../../styles/shared';

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    min-height: 400px;
    max-width: 475px;
    margin: 0 auto;
  }
}

.empty {
  height: 316px;
}
