@import '../../../../../../styles/shared';

.container {
  background-color: $email-status-dark-blue;
  border-radius: 8px;
  border: 1px solid $email-status-blue;
  padding: 8px 12px;
  color: $email-status-light-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 290px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
