@import "../../styles/shared";

.container {
  position: relative;
  width: 100%;

  > * {
    user-select: none;
  }
}

.goal {
  &__background {
    @include media-breakpoint-down(md) {
      width: 40rem;
      margin-left: -7.5rem;
    }
  }

  &__keeper {
    position: absolute;

    &__idle {
      left: calc(50% - 65px);
      top: 27%;
      width: 130px;

      @include media-breakpoint-up(md) {
        width: 285px;
        top: 29%;
        left: calc(50% - 142.5px);
      }
    }
  }

  &__selection {
    &__container {
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 0px;
      width: 68%;
      left: 16%;

      @include media-breakpoint-up(md) {
        top: 20px;
        width: 40%;
        left: 30%;
      }
    }

    &__ball {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;

      @include media-breakpoint-up(md) {
        width: 100px;
        height: 100px;
      }

      &__clickable {
        cursor: pointer;
      }

      &__svg {
        transform: scale(1.25);
      }
    }
  }

  &__main_ball {
    display: none;
    position: absolute;
    left: 0;
    width: 250px;
    left: calc(50% - 125px);
    bottom: -7.5rem;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}
