@import '../../styles/shared';

.container {
  position: relative;
  width: 100%;

  > * {
    user-select: none;
  }
}

.goal {
  &__background {
    @include media-breakpoint-down(lg) {
      width: 160%;
      margin-left: -30%;
    }
  }

  &__keeper {
    position: absolute;
  }

  &__selection {
    &__container {
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 5%;
      width: 40%;
      left: 30%;

      @include media-breakpoint-down(lg) {
        width: 64%;
        left: 18%;
      }
    }

    &__ball {
      border-radius: 50%;
      overflow: hidden;
      width: 17%;

      &__clickable {
        cursor: pointer;
      }

      &__svg {
        // transform: scale(1.25);
      }
    }
  }

  &__main_ball {
    display: none;
    position: absolute;
    width: 15%;
    left: 42.5%;
    bottom: -7.5rem;

    @include media-breakpoint-down(lg) {
      width: 24%;
      left: 38%;
    }

    @include media-breakpoint-up(xl) {
      display: block;
    }
  }
}
