@import '../../styles/shared';

.inputField {
  text-align: left;
  background-color: $form-background;
  color: $white;
  font-size: 18px;
  line-height: 24px;
  margin-left: 0;
  padding: 0;
  outline: none;
  border: none;

  &__container {
    min-width: 250px;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border: 2px solid $form-background;
    border-radius: 8px;
    background-color: $form-background;
    height: 57px;
    vertical-align: bottom;
    transition: border 0.2s ease-in;

    &:focus-within {
      border: 2px solid $bitcoinYellow;
    }

    &--error {
      border: 2px solid $red;

      &:focus-within {
        border: 2px solid $red;
      }
    }

    input[type='text'].inputField,
    input[type='password'].inputField {
      width: 100%;
      min-width: 0;
    }

    input {
      filter: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      border: none;
      -webkit-text-fill-color: $white;
      -webkit-box-shadow: 0 0 0 1000px $form-background inset;
      box-shadow: 0 0 0 1000px $form-background inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  &__group {
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }

  &__icon {
    cursor: pointer;
    width: 25px;
    margin-left: 10px;
    border: none;
    padding: 0;
    background: none;

    &--visible {
      stroke: $eye-outline;
      transition: stroke 0.2s ease-in;

      &:hover {
        stroke: $live-updates-light-blue;
      }
    }

    &--invisible {
      fill: $eye-outline;
      transition: fill 0.2s ease-in;

      &:hover {
        fill: $live-updates-light-blue;
      }
    }
  }

  &__label {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    line-height: 19px;
    color: $live-updates-light-blue;
    user-select: none;
    margin: 0;
  }

  &__error {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    line-height: 19px;
    color: $red;
    user-select: none;
    margin: 4px 8px 4px 8px;
  }
}
