.cls-1 {
  fill: #0263b2;
}

.cls-2 {
  fill: #d86045;
}

.cls-3 {
  fill: #fa981d;
}

.cls-4 {
  fill: #ffc010;
}

.cls-5 {
  fill: #f47555;
}

.cls-6 {
  fill: #0383ce;
}

.cls-7 {
  fill: #27abfd;
}

.cls-8 {
  fill: #ffea47;
}

.cls-9 {
  fill: #f18306;
}

.cls-10 {
  fill: #fdce06;
}

.cls-11 {
  fill: #fee26a;
}

.cls-12 {
  fill: #692617;
}

.cls-13 {
  fill: #35130c;
}
