@import '../../../../styles/shared.scss';

.dot {
  &__wrapper {
    margin: 0 0.5rem;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      border: 1px solid $white;
    }

    &--inactive {
      border: none;
    }
  }

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
}
