@import '../../styles/shared';

.container {
  margin: auto;
  width: 100%;
  overflow: auto;

  @include media-breakpoint-up(md) {
    width: 400px;
  }

  @include media-breakpoint-up(lg) {
    width: 530px;
  }

  @include media-breakpoint-up(xl) {
    width: 750px;
  }
}

.slide {
  height: 82px;
  border-radius: 15px;
  line-height: 1;
  background-color: #182839;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
  background-image: url('../../assets/images/carousel/carousel1-home.svg');
  overflow: hidden;
  user-select: none;

  @include media-breakpoint-up(xl) {
    height: 180px;
  }
}

.swiper {
  &__pagination {
    bottom: 95%;
    height: 16px;
    width: 16px;
    background-color: #32506a;
    border: 1px solid #132739;
    border-radius: 16px;
    margin-left: 16px;
    outline: none;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    padding: 0;
  }

  .swiper-pagination {
    color: #fff;
  }
}
.carousel {
  &__slide-inner {
    margin: auto 0;
    width: 50%;
    padding: 10px;

    @include media-breakpoint-up(xl) {
      padding: 30px;
      width: 60%;
    }
  }

  &__dot-group {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;

    @include media-breakpoint-up(xl) {
      margin-top: 21px;
      margin-bottom: 21px;
    }

    button {
      height: 16px;
      width: 16px;
      background-color: #32506a;
      border: 1px solid #132739;
      border-radius: 16px;
      margin-left: 16px;
      outline: none;
      opacity: 0.6;
      transition: opacity 0.3s ease;
      padding: 0;

      @include media-breakpoint-up(xl) {
        margin-top: 0;
        height: 21px;
        width: 21px;
        border-radius: 21px;
        margin-left: 21px;
      }

      &:hover {
        opacity: 1;
      }

      &:disabled {
        cursor: default;
        background-color: #132739;
        border: 1px solid #32506a;
      }
    }
  }
}

.headline {
  color: #ffd800;
  font-size: 14px;
  margin: 0;
  font-weight: 300;
  margin-bottom: 0.1rem;
  margin-top: 0.8rem;

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }

  @include media-breakpoint-up(xl) {
    font-size: 28px;
    margin-bottom: 0.4rem;
    margin-top: 0;
  }
}

.subline {
  color: #4d566c;
  font-size: 14px;
  font-weight: 300;
  margin-top: 14px;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    margin-top: 7px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 20px;
    margin-top: 20px;
    display: block;
  }
}
