@import '../../styles/shared';

.withdrawal {
  &__status {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 50%;
    margin: auto;

    &__yellow {
      background-color: #ffe98e;
    }

    &__green {
      background-color: #9bff8e;
    }

    &__red {
      background-color: #ff7777;
    }

    &__unknown {
      background-color: transparent;
    }
  }
}
