@import '../../styles/shared';

.modal {
  &__row {
    flex-direction: column;
    margin: auto;
    padding: 2.25rem 4.75rem;
  }

  &__content {
    margin-bottom: 6.25rem;

    p {
      margin-bottom: 0px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;

    &__button {
      width: 220px;
      height: 60px;
    }
  }
}
