@import '../../../../styles/shared';

.center {
  display: flex;
  align-items: center;
}

.logo {
  &__size {
    width: 90px;

    @include media-breakpoint-up(lg) {
      width: 128px;
    }
  }

  &__color {
    fill: $ultra-light-blue;
  }
}
