@import '../../../../styles/shared';

.center {
  display: flex;
  align-items: center;
}

.right {
  justify-content: flex-end;
}

.logo {
  &__size {
    width: 90px;

    @include media-breakpoint-up(lg) {
      width: 128px;
    }
  }

  &__color {
    fill: $ultra-light-blue;
  }
}

.sign-in {
  &__button {
    display: none;

    @include media-breakpoint-up(md) {
      display: unset;
      width: 195px;
    }

    &--spacing {
      margin-right: 1rem;
    }
  }
}
