@import '../../../../styles/shared.scss';

.track {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 100%;

  &--green {
    background-color: $green;
  }

  &--red {
    background-color: $red;
  }

  &--disabled {
    cursor: default;
  }
}
