@import '../../../../styles/shared.scss';

.track {
  position: absolute;
  z-index: 1;
  background-color: $green;
  cursor: pointer;
  width: 67px;

  @include media-breakpoint-up(md) {
    width: 83px;
  }
}
