@import '../../../../../../styles/shared';

$border: 4px;
$finalHeight: calc(100% + (#{$border} * 2));

.container,
.container_open {
  height: calc(#{$bottom-bar-height} + 4px);
  position: relative;
}

.wrapper,
.wrapper_open {
  margin-top: -$border;
  height: $finalHeight;
  // width: 190px;
  overflow: hidden;
  cursor: pointer;
}

.border,
.border_open {
  height: $finalHeight;
  width: 100%;
  border: $border solid $yellow;
  border-right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: -$border;
  background-color: $light-blue;
}

.value,
.value_open {
  padding-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
  font-size: 23px;
  font-weight: 600;
  line-height: 23px;
}

.icon,
.icon_open {
  width: 22px;
  margin: 0 0.5rem 0 1rem;
  fill: $bitcoinYellow;

  &__inner {
    fill: $light-blue;
  }
}
