// @import '../src/index.scss';

// @import '../src/styles/base.scss';

// @import 'font';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url('../src/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('RobotoLight'),
    url('../src/assets/fonts/Roboto-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: local('Roboto Bold'), local('RobotoBold'),
    url('../src/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}

@import '../src/styles/variables';
@import '../src/styles/bootstrap/base';
@import '../src/styles/helpers';
@import '../src/styles/general';
@import '../src/styles/typography';
@import '../src/components/Carousel/Carousel.scss';
@import '../src/styles/react-toastify/main';

body,
html {
  background: none !important;
}
