@import '../../../../styles/shared';

.cls-6 {
  fill: #f7c0b4;
}
.cls-7 {
  fill: #cb9f94;
}
.cls-8 {
  fill: #634e42;
}
.cls-14 {
  fill: #fff;
}
.cls-15 {
  fill: #dadada;
}
.cls-19 {
  fill: #3f1921;
}
.cls-20 {
  fill: #004d26;
}
.cls-26 {
  fill: #4a3b32;
}
