@import '../../styles/shared';

$radius: 10px;

.bet-table {
  min-width: 100%;
  color: $white;
  border-spacing: 0;
  border-collapse: collapse;

  td {
    padding: 0;
  }

  &__header {
    th {
      position: sticky;
      top: 0;
      font-weight: 300;
      padding: 0.5rem;
      background-color: $table-light-blue;
      text-transform: uppercase;
      color: $table-ultra-light-blue;
      font-size: 15px;
      text-align: left;
      z-index: 1;
    }

    th:first-child {
      // Fixes Safari iOS border radius
      @supports (-webkit-touch-callout: none) {
        border-radius: $radius 0 0 0;
      }

      padding-left: 1rem;
    }

    th:last-child {
      // Fixes Safari iOS border radius
      @supports (-webkit-touch-callout: none) {
        border-radius: 0 $radius 0 0;
      }

      padding-right: 1rem;
    }
  }

  &__body {
    background-color: $table-dark-blue;
    font-size: 13px;

    @include media-breakpoint-up(xs) {
      font-size: 13px;
    }

    td div {
      padding: 0.5rem 0.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 130px;

      @include media-breakpoint-up(lg) {
        max-width: 129px;
        padding: 0.46rem 0.5rem;
      }
    }

    tr td:first-child div {
      padding-left: 1rem;
    }

    tr td:last-child div {
      padding-right: 1rem;
    }
  }

  &__wrapper {
    max-height: calc(100% - 0.5rem);
    min-height: 200px;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    background-color: $table-dark-blue;
    border-radius: $radius;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      overflow-y: hidden;
    }

    @include media-breakpoint-up(lg) {
      max-height: calc(100% - 1.5rem);
    }
  }
}

/* stylelint-disable-next-line */
.fade1000-enter td div {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  transition: max-height 500ms linear, opacity 500ms ease-in, padding 500ms linear;
}

/* stylelint-disable-next-line */
.fade1000-enter-active td div {
  max-height: 40px;
  opacity: 1;
  padding: 8px 8px;
}

/* stylelint-disable-next-line */
.fade1000-exit td div {
  max-height: 40px;
  opacity: 1;
  transition: max-height 500ms linear, opacity 500ms ease-out, padding 500ms linear;
  overflow: hidden;
}

/* stylelint-disable-next-line */
.fade1000-exit-active td div {
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

/* stylelint-disable-next-line */
.fade500-enter td div {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  transition: max-height 250ms linear, opacity 250ms ease-in, padding 250ms linear;
}

/* stylelint-disable-next-line */
.fade500-enter-active td div {
  max-height: 50px;
  opacity: 1;
  padding: 6px 8px;
}

/* stylelint-disable-next-line */
.fade500-exit td div {
  max-height: 50px;
  opacity: 1;
  transition: max-height 250ms linear, opacity 250ms ease-out, padding 250ms linear;
  overflow: hidden;
}

/* stylelint-disable-next-line */
.fade500-exit-active td div {
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

/* stylelint-disable-next-line */
.fade250-enter td div {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  transition: max-height 125ms linear, opacity 125ms ease-in, padding 125ms linear;
}

/* stylelint-disable-next-line */
.fade250-enter-active td div {
  max-height: 50px;
  opacity: 1;
  padding: 6px 8px;
}

/* stylelint-disable-next-line */
.fade250-exit td div {
  max-height: 50px;
  opacity: 1;
  transition: max-height 125ms linear, opacity 125ms ease-out, padding 125ms linear;
  overflow: hidden;
}

/* stylelint-disable-next-line */
.fade250-exit-active td div {
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}
