@import '../../../../../../styles/shared';

.notice {
  display: flex;
  padding-top: 2rem;

  &__lock {
    width: 34px;
    margin-right: 1rem;
  }

  &__text {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
  }
}

.hash {
  margin-top: 3rem;
}

.button {
  &__container {
    margin-top: 5rem;
  }
}

.error {
  margin-top: 1rem;
  color: $negative;
  font-size: 14px;
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}
