@import '../../../../styles/shared';

.cls-4 {
  fill: #f7c0b4;
}
.cls-5 {
  fill: #cb9f94;
}
.cls-12 {
  fill: #634e42;
}
.cls-18 {
  fill: #fff;
}
.cls-20 {
  fill: #4f3e3a;
}
.cls-23 {
  fill: #3f1921;
}
.cls-28 {
  fill: #004d26;
}
