@import '../../styles/shared.scss';

.slider {
  position: relative;
  height: 100%;
  user-select: none;

  &__rail {
    background-color: $red;
    height: 100%;
    width: 65px;
    cursor: pointer;

    @include media-breakpoint-up(md) {
      width: 107px;
    }
  }

  &__wrapper {
    height: 100%;
  }
}
