@import '../../../../styles/variables.scss';

.bet-row {
  &__cell {
    padding: 0.5rem;
  }

  &__icon {
    width: 11px;
    height: 11px;
    margin-right: 4px;
    vertical-align: baseline;
    fill: $bitcoinYellow;

    &__inner {
      fill: $dark-blue;
    }
  }

  &__game {
    width: 22px;
    height: 22px;
    fill: $white;

    &__inner {
      fill: $dark-blue;
    }
  }

  &__bold {
    font-weight: 900;
  }

  &__red {
    color: $lightRed;
  }

  &__green {
    color: $lightGreen;
  }
}
