@import "../../../../styles/shared";
@import "../../../../styles/game-general.scss";

.container {
  margin-top: 5rem;
  overflow: hidden;
}

.stages {
  &__container {
    display: none;
    position: absolute;
    left: 0;
    top: -5.5rem;
    bottom: -2rem;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}

.board {
  &__container {
    flex-direction: column;
    position: relative;
  }
}

.probability {
  &__container {
    margin: 1.5rem auto;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &__visibility {
      &__hidden {
        visibility: hidden;
      }
    }
  }

  &__label {
    text-align: center;
    color: #80a2cc;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  &__button_group {
    margin: auto;
  }
}

.profit {
  display: flex;

  &__row {
    margin: -1.2rem 0 2rem;

    @include media-breakpoint-up(md) {
      margin: -4.7rem 0 1rem;
    }
  }

  &__item {
    display: inline-flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      &__left {
        margin-left: auto;
      }

      &__right {
        margin-right: auto;
      }
    }
  }
}

.amount {
  &__disabled {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #13223a;
      opacity: 0.5;
    }
  }
}

.controls {
  &__wrapper {
    @include media-breakpoint-down(md) {
      margin-top: 5rem;
    }
  }
}
