@import "../../../../styles/shared";
@import "../../../../styles/game-general.scss";

.container {
  margin-top: 5rem;
}

.stages {
  &__container {
    position: absolute;
    left: 0;
    top: -5.5rem;
    bottom: -2rem;
  }
}

.board {
  &__container {
    flex-direction: column;
    position: relative;
  }
}

.probability {
  &__container {
    margin: 1.5rem auto;

    &__visibility {
      &__hidden {
        visibility: hidden;
      }
    }
  }

  &__label {
    text-align: center;
    color: #80a2cc;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  &__button_group {
    margin: auto;
  }
}

.amount {
  &__disabled {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #13223a;
      opacity: 0.5;
    }
  }
}
